// font-family: 'Roboto', sans-serif;
// font-family: 'Nunito', sans-serif;
.contact 
    .container-contact
        text-align: center
        padding: 0 20px
        h1 
            +section-title
        p 
            font-family: 'Nunito', sans-serif
            color: #8c9398
            line-height: 1.75
        .contact-form 
            form 
                .contact-form_field
                    display: flex
                    flex-direction: column
                    text-align: left
                    margin-top: 16px
                    label 
                        letter-spacing: 1px
                        font-family: 'Nunito', sans-serif
                        font-weight: 600
                        margin-bottom: 10px
                    input 
                        color: #495057
                        border: 1px solid #ced4da
                        border-radius: 4px
                        letter-spacing: 1px
                        padding: 16px
                    textarea 
                        font-family: 'Nunito', sans-serif
                        padding: 16px
                        color: #495057
                        border: 1px solid #ced4da
                        border-radius: 4px
                        letter-spacing: 1px
            button 
                    
    
                        
                        
            